@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}

html, body {
  /* Elimina TODA restricción de altura */
  height: auto !important;
  min-height: 100% !important;
  /* Solo oculta el horizontal si es necesario */
  overflow-x: clip; 
  /* Permite que el navegador gestione el scroll */
  overscroll-behavior-y: auto; 
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
